@* <MudCard Elevation="0" Square="true" Class="@Class" Style=$"background-color: {@myColor.ToHex()}" > *@
    <MudCardHeader style="padding:10px!important">
        <CardHeaderAvatar>
            @if (string.IsNullOrEmpty(this.ImageUri))
            {
                if(_drawerOpen)
                {
                    <MudAvatar Size="Size.Medium" Color="Color.Secondary" Class="ma-2">@FullName?.ToUpper().FirstOrDefault()</MudAvatar>
                }
                else
                {
                    <MudAvatar style="width:95%;" Color="Color.Secondary" Class="ma-2">@FullName?.ToUpper().FirstOrDefault()</MudAvatar>
                }
            }
            else
            {
                <MudAvatar Image="@ImageUri" />
            }
        </CardHeaderAvatar>
        <CardHeaderContent>
           <div style="margin-left:6px;">
                <MudText Typo="Typo.body1">@FullName</MudText>
                <MudText Typo="Typo.caption">@Email</MudText>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
@* </MudCard> *@
